services:
  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:v0.6.25
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    ports:
      - 8081:8080
    environment:
      - WEBUI_AUTH=True
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  open-webui: {}
